<!DOCTYPE html>
<html>
<head>
	<title>Welcome to Websocket CHAT!</title>

	<style>
		
		#chat {
			height: 500px;
		}

		#contentWrap {
			display: none;
		}

		#chatWrap {
			float: left;
			border: 1px green solid;
		}

		#chat {
			overflow: auto;
		}


	</style>
</head>



<body>
<div id="nickWrap">
	<p>Enter a username:</p>
	<form id="setNick">
		<input size="35" id="nickname">
		<input type="submit">
	</form>
</div>



<div id="contentWrap">
<div id="chatWrap">
<div id="chat"></div>
<form id="send-message">
	<input size="35" id="message" required>
	<input type="submit">
</form>
</div>
<div id="users"></div>
</div>









<script   src="https://code.jquery.com/jquery-3.1.0.min.js"   integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="   crossorigin="anonymous"></script>
<script src="/socket.io/socket.io.js"></script>
<script>
	jQuery(function($){
		var socket = io.connect();
		var $nickForm = $("#setNick");
		var $nickError = $("#nickError");
		var $nickBox = $("#nickname");
		var $users = $("#users");
		var $messageForm = $("#send-message");
		var $messageBox = $("#message");
		var $chat = $("#chat");

		$nickForm.submit(function(e){
			e.preventDefault();
			socket.emit('new user', $nickBox.val(), function(data){
				if(data){
					 $("#nickWrap").hide();
					 $("#contentWrap").show();
				} else {
					//$nickError.html("Nickname already exist! Try other name!");
					alert("Choose other name, nickname already exist");
				}
			});
			$nickBox.val("");
		});



		socket.on("usernames", function(data) {
			// var html = '';
			// for(i = 0; i < data.length; i++) {
			// 	html += data[i] + '<br>'
			// }
			// $users.html(html);
			$users.html(data.join("<br>"));
		});



		$messageForm.submit(function(e){
			e.preventDefault();
			socket.emit("send message", $messageBox.val());
			$messageBox.val("");
		});

		socket.on('new message', function(data){
			$chat.append( '<b>'+ data.nick + ": " +'</b>' + data.msg + "<br/>");
		});
	});

</script>
</body>
</html>